<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.group_10_melody_match"
        tools:targetApi="31">
        <!--        android:theme="@style/Theme.Group_10_Melody_Match"-->

<!--        <activity-->
<!--            android:name=".MainActivity"/>-->

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AddArtistActivity"
            android:exported="false"
            android:label="@string/add_artist" />

        <activity android:name=".ui.activity.SongListActivity" />



    </application>

</manifest>